:root {
    --unit: 0.265vmin;
}

.button-square {
    opacity: 0;
    visibility: hidden;
    font-family: 'FontAwesome';
    font-size: calc(var(--unit)* 15.5);
    line-height: 2.2;
    color: #ddd;
}

div.content {
    overflow: hidden;
    position: absolute;
    font-family: Roboto;
    font-weight: 300;
    top: calc(-123 * var(--unit));
    left: calc(45 * var(--unit));
    width: calc(210 * var(--unit));
    height: calc(110 * var(--unit));
}

div.macbook-container {
    width: 100%;
    height: 100%;
    position: relative;
}

div.macbook {
    width: calc(300 * var(--unit));
    height: calc(18 * var(--unit));
    background: radial-gradient(circle, transparent calc(6* var(--unit)), #ddd calc(6* var(--unit))), #ddd;
    border-bottom-left-radius: calc(10 * var(--unit));
    border-bottom-right-radius: calc(10 * var(--unit));
    position: absolute;
    top: calc(200 * var(--unit));
    right: 0;
    left: 0;
    margin: auto;
}

div.macbook:before,
div.macbook:after {
    content: "";
    display: block;
    position: absolute;
    margin: auto;
}

div.macbook:before {
    width: calc(210 * var(--unit));
    height: calc(110 * var(--unit));
    border: calc(13 * var(--unit)) solid #333;
    border-top-left-radius: calc(10 * var(--unit));
    border-top-right-radius: calc(10 * var(--unit));
    background: linear-gradient(200deg, var(--purple) 40%, var(--green)), linear-gradient(60deg, var(--blue) 10%, var(--purple));
    top: calc(-136 * var(--unit));
    left: 0;
    right: 0;
    transform-origin: bottom;
}

div.macbook:after {
    width: calc(60 * var(--unit));
    height: calc(10 * var(--unit));
    background: #888;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: calc(4 * var(--unit));
    border-bottom-right-radius: calc(4 * var(--unit));
}

div.macbook.closed:before {
    transform: rotateX(86deg) scaleX(1.27);
    background: lightgray;
    border-color: lightgray;
}

div.macbook.closed .content {
    opacity: 0;
}

/* #region imac */
div.macbook.imac {
    height: calc(33* var(--unit));
    background: radial-gradient(circle, transparent calc(7* var(--unit)), #ddd calc(6* var(--unit))), #888;
    transform: translateY(calc(30* var(--unit)));
}

div.macbook.imac .content,
div.macbook.imac:before {
    width: calc(274* var(--unit));
    height: calc(150* var(--unit));
    top: calc(-176* var(--unit));
}

div.macbook.imac .content {
    top: calc(-163 * var(--unit));
    left: calc(13 * var(--unit));
}

div.macbook.imac:after {
    top: calc(33* var(--unit));
    height: calc(13 * var(--unit));
    box-shadow:
        0 calc(10 * var(--unit)) #888,
        0 calc(20 * var(--unit)) #888,
        0 calc(30 * var(--unit)) #888,
        0 calc(40 * var(--unit)) #888,
        calc(var(--unit)*-27) calc(var(--unit)*50) #888,
        calc(var(--unit)*27) calc(var(--unit)*50) #888;
    transform-origin: top;
}

/* #endregion */

/* #region iphone */

div.macbook.iphone .button-square {
    opacity: 1;
    visibility: visible;
}

div.macbook.iphone {
    height: calc(33* var(--unit));
    background: radial-gradient(circle, transparent calc(10* var(--unit)), #ddd calc(10.7* var(--unit))), #888;
    width: calc(106* var(--unit));
    box-shadow: 0 1px 0 calc(var(--unit)*2) #888;
    /* transform: translateX(-200px) translateY(200px); */
}

div.macbook.iphone .content,
div.macbook.iphone:before {
    width: round(calc(80* var(--unit)), 1px);
    height: calc(133* var(--unit));
    top: round(up, calc(-162.8* var(--unit)), 1px);
    border-color: #ddd;
    border-bottom: 0;
    border-top-width: calc(30* var(--unit));
}

div.macbook.iphone:before {
    /* box-shadow: calc(var(--unit)*2) 0 0 0px #888, calc(var(--unit)*-2) 0 0 0px #888, calc(var(--unit)*2) 0 0 0px #888, 0px calc(var(--unit)*-1) 0px calc(var(--unit)) #888; */
    box-shadow: calc(var(--unit)*2) -1px 0px 0px #888, calc(var(--unit)*-2) -1px 0 0px #888, calc(var(--unit)*2) -1px 0 0px #888, 0px calc(var(--unit)*-2) 0px calc(var(--unit)) #888;
}

div.macbook.iphone .content {
    top: calc(-133 * var(--unit));
    left: calc(13 * var(--unit));
}

div.macbook.iphone:after {
    top: calc(-149* var(--unit));
    height: calc(3* var(--unit));
    box-shadow: unset;
    transform-origin: top;
    border-radius: calc(4* var(--unit));
    width: calc(32* var(--unit));
    /* background: var(--white); */
}

div.macbook,
div.macbook:before,
div.content,
div.macbook:after {
    transition: all 0.3s ease-in;
}

div.macbook,
div.macbook:before,
div.content,
div.macbook:after {
    transition: all 0.3s ease-in;
}

/* #endregion */


/* 
3
4
5
7
9
10
13 
30
32
33
106
133 
149 
*/

/* 
[
    2,
    3,
    4,
    5,
    6,
    7,
    9,
    10,
    13,
    18,
    20,
    27,
    30,
    32,
    33,
    40,
    45,
    50,
    60,
    106,
    110,
    123,
    133,
    136,
    149,
    150,
    163,
    176,
    200,
    210,
    274,
    300
] */