:root {
    --purple: #613DC1;
    --black: #262626;
    --shadow: #111;
    --white: #fafafa;
    --green: #07BEB8;
    --lime: #CEFF1A;
    --blue: #3A5999;
    --hibiscus-background: url(../images/AlphaHibiscusLines.png);
    --surf-background: url(https://lajollaweb.com/images/surf-background.png);
    --about-background: url(https://lajollaweb.com/images/about-background.png);
    --portfolio-background: url(https://lajollaweb.com/images/portfolio-background.png);
    /* --hibiscus-background: url(https://lajollaweb.com/images/hibiscus-background.gif); */
    --footer-height: 60vh;
}

html,
button {
    font-family: Roboto Mono;
    font-size: xx-large;
}

body {
    margin: 0;
    color: var(--white);
}

section {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: fit-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Tomorrow;
}

p {
    line-height: 1.5em;
}

button {
    padding: 10px 20px;
    background-color: var(--lime);
    color: var(--blue);
    border: none;
    border-radius: 2px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    transform: translate(2.5px, -2.5px);
    box-shadow: var(--green) -5px 5px 0px;
}

button:hover {
    transform: translate(8px, -8px);
    box-shadow: var(--green) -8px 8px 3px;
}

button:active {
    transform: translate(2.5px, -2.5px);
    box-shadow: var(--green) -5px 5px 0px;
}

button.secondary {
    background-color: var(--purple);
    color: var(--white);
    box-shadow: var(--green) -5px 5px 0px;
}

button.secondary:hover {
    box-shadow: var(--green) -8px 8px 3px;

}

button.secondary:active {
    transform: translate(2.5px, -2.5px);
    box-shadow: var(--green) -5px 5px 0px;

}

.ham,
.ham:before,
.ham:after,
.ham>span {
    background-color: var(--black);
    margin-bottom: 5px;
    width: 30px;
    height: 5px;
}

.ham:before,
.ham:after,
.ham>span {
    content: '';
    display: block;
}


.nav {
    position: fixed;
    width: 100vw;
    background-color: var(--white);
    color: var(--black);
    padding: 10px 20px;
    padding: 10px 20px 0;
    z-index: 3;
    box-shadow: var(--shadow) 0 0 10px;
}

.nav h2 {
    margin: 0;
    display: flex;
    gap: 10px;
}

.nav h2 img {
    height: 60px;
    mix-blend-mode: multiply;
}

#rotating-head {
    color: var(--lime);
}

#hero {
    background-color: var(--purple);
    background-clip: content-box;
    height: 100vh;
    width: 100%;
}

#hero-fg {
    z-index: 1;
}

#hero-bg {
    top: 100px;
    width: 100%;
    mix-blend-mode: overlay;
    position: absolute;
    z-index: 0;
}

#hero::selection {
    background-color: var(--lime);
}

#rotating-head::selection {
    background-color: var(--green);
}

#hero h1::selection {
    background-color: var(--lime);
    color: var(--purple)
}

#hero h1 {
    margin-bottom: 0;
}

#hero p {
    width: 50vw;
    font-size: smaller;
}

ul.checklist {
    list-style: none;
    padding: 0;
}

ul.checklist li::before {
    content: "✔ "
}

#heroine {
    background-color: var(--white);
    background-size: 200px;
    color: var(--black);
    padding-bottom: 100px;
}

#services {
    display: flex;
    gap: 20px;
    width: 90%;
}

#services div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 10px;
    border: 4px dashed var(--blue);
    margin-top: 20px;
    padding: 20px;
    flex: 1;
}

#services div h3 {
    background: var(--white);
    position: absolute;
    padding: 0 10px;
    top: -70px;
    text-align: center;
}

#services div h3 {
    /* left: 14px; */
}

#services li {
    font-size: smaller;
}

#services li::before {
    color: var(--blue);
}

.pulsar {
    /* animation: pulse 2s ease-in-out 1; */
}

#services>div:nth-child(1) {
    animation-delay: 0s;
}

#services>div:nth-child(2) {
    animation-delay: 0.5s;
}

#services>div:nth-child(3) {
    animation-delay: 1s;
}

#clients {
    overflow: hidden;
    /* background-image: url(https://lajollaweb.com/images/about-background.png); */
    background-color: var(--black);
    /* background-blend-mode: color-burn; */
    height: max(50vh, 50vw);
    position: relative;
    box-shadow: var(--shadow) 0 10px 10px 5px;
    z-index: 2;
}

#clients h2 {
    z-index: 2;
    backdrop-filter: blur(1.5px);
    text-shadow: -4px 4px 4px var(--shadow);
}

#sidekick {
    /* background-color: var(--black);
    color: var(--white); */
    background-color: var(--blue);
    color: var(--white);
}

#continents {
    color: var(--green)
}

#countries {
    color: var(--lime)
}

#plethora {
    background: linear-gradient(to bottom, var(--green), var(--lime));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.logos {
    position: absolute;
    width: 80%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform: translateY(0);
    transition: transform 0.1s ease-out;
    height: inherit;
    top: min(30vh, 30vw);
}

.logo-wrapper {
    filter: grayscale(100%) brightness(0.7);
    transition: filter 0.2s ease-in;
}

.logo-wrapper:hover {
    filter: grayscale(0) brightness(1);
}

.logo-wrapper img {
    max-width: 12vw;
}

.glass {
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    background-blend-mode: color-burn;
    background-blend-mode: hard-light;
    background-blend-mode: multiply;
    background-image: url(https://toppng.com/public/uploads/thumbnail/lass-reflection-png-windows-7-glass-reflectio-11562852519yjsyzn3pqe.png);
    position: absolute;
    background-size: cover;
    z-index: 1;
    opacity: 0.3;
    pointer-events: none;
}

.callout {
    background-color: var(--white);
    border-radius: 5px;
    color: var(--black);
    width: 500px;
    font-size: smaller;
    padding: 30px;
    text-align: justify;
}

.date,
.name {
    font-size: small;
}

.date {
    color: var(--shadow);
}

.name {
    color: var(--green);
}

.review {
    font-style: italic;
    font-weight: 100;
    font-size: 15px;
}


#spacer,
#footer {
    height: var(--footer-height);
    width: 100%;
}

#footer {
    background-color: var(--purple);
    z-index: -999;
    position: fixed;
    bottom: 0;
}

/* Pulse animation */
@keyframes pulse {
    0% {
        transform: scale(1);
        /* Normal size */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        /* Subtle shadow */
    }

    50% {
        transform: scale(1.05);
        /* Slightly larger */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        /* Stronger shadow */
    }

    100% {
        transform: scale(1);
        /* Back to normal */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        /* Reset shadow */
    }
}